@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// QBUZZ colors
$orange: #EF7D00;
$light-orange: #FBBA00;
$yellow: #FFD500;
$dark-blue: #0090AD;
$light-blue: #98C6D7;
$blue-white: #D7EEF8;
$dark-cornflower-blue: #25408f;
$mikado-yellow: #ffc709;

body {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Plus Jakarta Sans', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

.licenseplate {
  background-color: #F3B601;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 2px 3px;
  display: inline-block ;
  width: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
}

.left {
  border-right: 1px solid lightgray;
}
textarea {
  resize: none;
}
input#obstructionNumber {
  color: #fff;
  background-color: #ef7d00;
  font-weight: bold;
}
.eye {
  color: green;
}
.pdf {
  color: #F72015;
}

.line {
  height: 44px;
  width: 60px;
  //border: 1px solid #4c3522;
  color: #4c3522;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  margin: 5px;
}
    
.zoneNumber {
  background-color: #f72015;
  color: #fff;
  padding: 5px;
  font-weight: 600;
}
.stopNumber {
  color: #000;
  padding: 5px;
  font-weight: 600;
}

.dots {
  margin: 40px auto;
}.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: grey;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}
.dot-success {
    background-color: rgba(25, 135, 84, 1);
}
.dot-warning {
  background-color: rgba(255, 197, 7, 1);
}
.dot-danger {
  background-color: rgba(220, 53, 69, 1);
}
.dot-sm {
  height: 10px;
  width: 10px;
}
.dot-lg {
  margin: 0 4px;
  height: 20px;
  width: 20px;
}

.btn-orange {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-orange:hover {
  color: #fff;
  background-color: #da7200;
  border-color: #da7200;
}

.btn-check:focus + .btn-orange, .btn-orange:focus {
  color: #fff;
  background-color: #da7200;
  border-color: #da7200;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-check:checked + .btn-orange, .btn-check:active + .btn-orange, .btn-orange:active, .btn-orange.active, .show > .btn-orange.dropdown-toggle {
  color: #fff;
  background-color: #da7200;
  border-color: #da7200;
}

.btn-check:checked + .btn-orange:focus, .btn-check:active + .btn-orange:focus, .btn-orange:active:focus, .btn-orange.active:focus, .show > .btn-orange.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-orange:disabled, .btn-orange.disabled {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-outline-orange {
  color: #ef7d00;
  border-color: #ef7d00;
}

.btn-outline-orange:hover {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-check:focus + .btn-outline-orange, .btn-outline-orange:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
}

.btn-check:checked + .btn-outline-orange, .btn-check:active + .btn-outline-orange, .btn-outline-orange:active, .btn-outline-orange.active, .btn-outline-orange.dropdown-toggle.show {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-check:checked + .btn-outline-orange:focus, .btn-check:active + .btn-outline-orange:focus, .btn-outline-orange:active:focus, .btn-outline-orange.active:focus, .btn-outline-orange.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
}

.btn-outline-orange:disabled, .btn-outline-orange.disabled {
  color: #ef7d00;
  background-color: transparent;
}

.bg-orange {
  background-color: #ef7d00;
}

fieldset {
  padding: 20px;
  border: 1px solid lightgrey;
}
legend {
  float: none;
  width: inherit;
  margin: 0 20px 0 10px;
  padding: 0 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.form-control:focus {
  border-color: #ef7d00;
  box-shadow: inset 0 1px 1px rgba(239, 125, 0, 0.75), 0 0 8px rgba(239, 125, 0, 0.6);
}

#alert-success, #alert-danger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 10;
  display: none;
}

/* SET THE ORDER OF APPEARANCE OF THE ELEMENTS */
.one { order: 1; }
.two { order: 2; }
.three { order: 3; }
.four { order: 4; }
.five { order: 5; }
.six { order: 6; }
.seven {order: 7; }
.eight {order: 8; }
.nine {order: 9; }
.ten {order: 10 }
.eleven {order: 11 }
.twelve {order: 12 }

.icon-container > * {
  display: inline-block;
  width: 100%;
}

.icon-container {
  display: block;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  .icon {
    font-size: 4rem;
    display: block;
  }
  .icon-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
  }
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}
.callout-info {
  border-left-color: #5bc0de;
  background-color: #cfe2ff;
  color: #084298;
}
.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-danger {
  border-left-color: #dc3545;
  background-color: #f8d7da;
  color: #842029;
}
.callout-success {
  border-left-color: #198754;
  background-color: #d1e7dd;
  color: #0f5132;
}
.callout-primary {
  border-left-color: #0d6efd;
  background-color: #cfe2ff;
  color: #084298;
}
.callout-qbuzz {
  border-left-color: #fd7e14;
  background-color: #ffe5d0;
  color: #984c0c;
}

.item-container {
  padding: 1rem;
}
.main-content {
  margin-top: 83px;
}


/*.dark { background-image: radial-gradient(circle, $radial-antracite, $radial-black); color: $font-color-white; }
.light { background-color: $background-color-white; color: $font-color-dark-grey;}
.green { background-image: radial-gradient(circle, $radial-green, $radial-dark-green); color: $font-color-white;}*/



/****************************************************************/
/* TABLET LAYOUT */
@media (max-width: 991.98px) {

}
/* END TABLET LAYOUT */
/****************************************************************/



/****************************************************************/
/* MOBILE LAYOUT */
@media (max-width: 575.98px) {

}
/* END MOBILE LAYOUT */
/****************************************************************/