@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Plus Jakarta Sans', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.licenseplate {
  background-color: #F3B601;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 2px 3px;
  display: inline-block;
  width: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
}

.left {
  border-right: 1px solid lightgray;
}

textarea {
  resize: none;
}

input#obstructionNumber {
  color: #fff;
  background-color: #ef7d00;
  font-weight: bold;
}

.eye {
  color: green;
}

.pdf {
  color: #F72015;
}

.line {
  height: 44px;
  width: 60px;
  color: #4c3522;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  margin: 5px;
}

.zoneNumber {
  background-color: #f72015;
  color: #fff;
  padding: 5px;
  font-weight: 600;
}

.stopNumber {
  color: #000;
  padding: 5px;
  font-weight: 600;
}

.dots {
  margin: 40px auto;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: grey;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}

.dot-success {
  background-color: #198754;
}

.dot-warning {
  background-color: #ffc507;
}

.dot-danger {
  background-color: #dc3545;
}

.dot-sm {
  height: 10px;
  width: 10px;
}

.dot-lg {
  margin: 0 4px;
  height: 20px;
  width: 20px;
}

.btn-orange {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-orange:hover {
  color: #fff;
  background-color: #da7200;
  border-color: #da7200;
}

.btn-check:focus + .btn-orange, .btn-orange:focus {
  color: #fff;
  background-color: #da7200;
  border-color: #da7200;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-check:checked + .btn-orange, .btn-check:active + .btn-orange, .btn-orange:active, .btn-orange.active, .show > .btn-orange.dropdown-toggle {
  color: #fff;
  background-color: #da7200;
  border-color: #da7200;
}

.btn-check:checked + .btn-orange:focus, .btn-check:active + .btn-orange:focus, .btn-orange:active:focus, .btn-orange.active:focus, .show > .btn-orange.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-orange:disabled, .btn-orange.disabled {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-outline-orange {
  color: #ef7d00;
  border-color: #ef7d00;
}

.btn-outline-orange:hover {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-check:focus + .btn-outline-orange, .btn-outline-orange:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
}

.btn-check:checked + .btn-outline-orange, .btn-check:active + .btn-outline-orange, .btn-outline-orange:active, .btn-outline-orange.active, .btn-outline-orange.dropdown-toggle.show {
  color: #fff;
  background-color: #ef7d00;
  border-color: #ef7d00;
}

.btn-check:checked + .btn-outline-orange:focus, .btn-check:active + .btn-outline-orange:focus, .btn-outline-orange:active:focus, .btn-outline-orange.active:focus, .btn-outline-orange.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
}

.btn-outline-orange:disabled, .btn-outline-orange.disabled {
  color: #ef7d00;
  background-color: transparent;
}

.bg-orange {
  background-color: #ef7d00;
}

fieldset {
  padding: 20px;
  border: 1px solid lightgrey;
}

legend {
  float: none;
  width: inherit;
  margin: 0 20px 0 10px;
  padding: 0 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.form-control:focus {
  border-color: #ef7d00;
  -webkit-box-shadow: inset 0 1px 1px rgba(239, 125, 0, 0.75), 0 0 8px rgba(239, 125, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(239, 125, 0, 0.75), 0 0 8px rgba(239, 125, 0, 0.6);
}

#alert-success, #alert-danger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 10;
  display: none;
}

/* SET THE ORDER OF APPEARANCE OF THE ELEMENTS */
.one {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.two {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.three {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.four {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.five {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.six {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.seven {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.eight {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.nine {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.ten {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.eleven {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.twelve {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.icon-container > * {
  display: inline-block;
  width: 100%;
}

.icon-container {
  display: block;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.icon-container .icon {
  font-size: 4rem;
  display: block;
}

.icon-container .icon-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.callout-info {
  border-left-color: #5bc0de;
}

.callout-warning {
  border-left-color: #f0ad4e;
}

.callout-danger {
  border-left-color: #d9534f;
}

.callout-success {
  border-left-color: #198754;
}

.callout-primary {
  border-left-color: #0d6efd;
}

.item-container {
  padding: 1rem;
  background-color: #a8a8a81a;
}

/*.dark { background-image: radial-gradient(circle, $radial-antracite, $radial-black); color: $font-color-white; }
.light { background-color: $background-color-white; color: $font-color-dark-grey;}
.green { background-image: radial-gradient(circle, $radial-green, $radial-dark-green); color: $font-color-white;}*/
/****************************************************************/
/* TABLET LAYOUT */
/* END TABLET LAYOUT */
/****************************************************************/
/****************************************************************/
/* MOBILE LAYOUT */
/* END MOBILE LAYOUT */
/****************************************************************/
/*# sourceMappingURL=style.css.map */