$orange:            rgba(255, 124, 0, 1);
$orange-90:         rgba(255, 124, 0, 0.9);
$orange-80:         rgba(255, 124, 0, 0.8);
$orange-70:         rgba(255, 124, 0, 0.7);
$orange-60:         rgba(255, 124, 0, 0.6);
$orange-50:         rgba(255, 124, 0, 0.5);
$orange-40:         rgba(255, 124, 0, 0.4);
$orange-30:         rgba(255, 124, 0, 0.3);
$orange-20:         rgba(255, 124, 0, 0.2);
$orange-10:         rgba(255, 124, 0, 0.1);

$white:             rgba(255, 255, 255, 1);
$white-90:          rgba(255, 255, 255, 0.9);
$white-80:          rgba(255, 255, 255, 0.8);
$white-70:          rgba(255, 255, 255, 0.7);
$white-60:          rgba(255, 255, 255, 0.6);
$white-50:          rgba(255, 255, 255, 0.5);
$white-40:          rgba(255, 255, 255, 0.4);
$white-30:          rgba(255, 255, 255, 0.3);
$white-20:          rgba(255, 255, 255, 0.2);
$white-10:          rgba(255, 255, 255, 0.1);

$lightblue:         rgba(239, 248, 252);
$lightblue-90:      rgba(239, 248, 252, 0.9);
$lightblue-80:      rgba(239, 248, 252, 0.8);
$lightblue-70:      rgba(239, 248, 252, 0.7);
$lightblue-60:      rgba(239, 248, 252, 0.6);
$lightblue-50:      rgba(239, 248, 252, 0.5);
$lightblue-40:      rgba(239, 248, 252, 0.4);
$lightblue-30:      rgba(239, 248, 252, 0.3);
$lightblue-20:      rgba(239, 248, 252, 0.2);
$lightblue-10:      rgba(239, 248, 252, 0.1);

$blue:              rgba(167, 207, 221);
$blue-90:           rgba(167, 207, 221, 0.9);
$blue-80:           rgba(167, 207, 221, 0.8);
$blue-70:           rgba(167, 207, 221, 0.7);
$blue-60:           rgba(167, 207, 221, 0.6);
$blue-50:           rgba(167, 207, 221, 0.5);
$blue-40:           rgba(167, 207, 221, 0.4);
$blue-30:           rgba(167, 207, 221, 0.3);
$blue-20:           rgba(167, 207, 221, 0.2);
$blue-10:           rgba(167, 207, 221, 0.1);


$darkblue:          rgba(0, 55, 80);
$darkblue-90:       rgba(0, 55, 80, 0.9);
$darkblue-80:       rgba(0, 55, 80, 0.8);
$darkblue-70:       rgba(0, 55, 80, 0.7);
$darkblue-60:       rgba(0, 55, 80, 0.6);
$darkblue-50:       rgba(0, 55, 80, 0.5);
$darkblue-40:       rgba(0, 55, 80, 0.4);
$darkblue-30:       rgba(0, 55, 80, 0.3);
$darkblue-20:       rgba(0, 55, 80, 0.2);
$darkblue-10:       rgba(0, 55, 80, 0.1);


$yellow:            rgba(251, 192, 0);
$yellow-90:         rgba(251, 192, 0, 0.9);
$yellow-80:         rgba(251, 192, 0, 0.8);
$yellow-70:         rgba(251, 192, 0, 0.7);
$yellow-60:         rgba(251, 192, 0, 0.6);
$yellow-50:         rgba(251, 192, 0, 0.5);
$yellow-40:         rgba(251, 192, 0, 0.4);
$yellow-30:         rgba(251, 192, 0, 0.3);
$yellow-20:         rgba(251, 192, 0, 0.2);
$yellow-10:         rgba(251, 192, 0, 0.1);

$orange-dark: #db5103;
$orange-accessible: #ff9662;
$orange-sunny: #fbba00;
$yellow-pure: #ffd500;
$blue-dark: #004654;
$blue-pure-accessible: #017b94;
$blue-pure: #0090ad;
$blue-light: #98c6d7;
$blue-bright: #d7eef8;
$blue-touch: #eff8fc;

$light-grey: #eeeeee;

$black: #2e2e2e;
$tea-green: #ccd5ae;
$beige: #e9edc9;
$cornsilk: #fefae0;
$papaya-whip: #faedcd;
$buff: #d4a373;

$grey: #4e4e4e;

$emperor: #555555;
$buttercup: #f1aa09;
$buddha-gold: #CE8E00;
$pirate-gold: #A17700;
$alabaster: #f7f7f7;