$orange: #ff7c00;
$orange-10: rgba(255, 124, 0, 0.1);


$white: #ffffff;


$lightblue: #eff8fc;


$blue: #a7cfdd;


$darkblue: #003750;


$yellow: #fcb000;



$orange-dark: #db5103;
$orange-accessible: #ff9662;
$orange-sunny: #fbba00;
$yellow-pure: #ffd500;
$blue-dark: #004654;
$blue-pure-accessible: #017b94;
$blue-pure: #0090ad;
$blue-light: #98c6d7;
$blue-bright: #d7eef8;
$blue-touch: #eff8fc;

$light-grey: #eeeeee;

$black: #2e2e2e;
$tea-green: #ccd5ae;
$beige: #e9edc9;
$cornsilk: #fefae0;
$papaya-whip: #faedcd;
$buff: #d4a373;

$grey: #4e4e4e;

$emperor: #555555;
$buttercup: #f1aa09;
$buddha-gold: #CE8E00;
$pirate-gold: #A17700;
$alabaster: #f7f7f7;