$black: #2e2e2e;
$white: #ffffff;
$tea-green: #ccd5ae;
$beige: #e9edc9;
$cornsilk: #fefae0;
$papaya-whip: #faedcd;
$buff: #d4a373;

$grey: #4e4e4e;
$light-grey: #eeeeee;
$emperor: #555555;
$buttercup: #f1aa09;
$buddha-gold: #CE8E00;
$pirate-gold: #A17700;
$alabaster: #f7f7f7;