//////////////////////////////////////////////////
// ABOUT
//////////////////////////////////////////////////
.section__team {
  text-align: center;
  
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
    
    text-transform: uppercase;
  }

  &-title:after {
    content: '';
    border-bottom: 3px solid $buttercup;
    display: block;
    height: 1px;
    width: 5%;
    margin: 15px auto;
  }

}

.team__item {
  margin-bottom: 20px;

  &-content {
    border: 1px solid $light-grey;
    text-align: center;
    padding: 15px;
    background-color: $white;

    &-title {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 0.6rem;
    }

    &-subtitle {
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 0.6rem;
    }

    &-social-icons {
      padding-bottom: 0.6rem;

      a {
        text-decoration: none;
          padding: 5px;

        i {
          color: $buttercup;
          font-size: 1rem;
          
        }

      }

    }

  }

}

// HERO SECTION
.hero__home {
  background: url('../images/microchip-8762341_1920.png'), rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 30px;
  
  &-content {
    padding: 30px 20px;
    border: 3px solid $buttercup;

    &-title {
      color: $white;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }

    p {
      color: $white;
      font-size: 1rem;
      text-align: center;
    }
    
  }
  
}

section {
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .section-title:after {
    content: '';
    border-bottom: 3px solid $buttercup;
    display: block;
    height: 1px;
    width: 50px;
    margin: 15px auto;
  }
  .section-subtitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;  
  }
}


//////////////////////////////////////////////////
// FOOTER
//////////////////////////////////////////////////
footer {
  background-color: $alabaster;
  color: $black;
  
  .footer__newsletter {
    
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    &-divider {
      width: 200px;
      margin: 20px auto 50px;
      border-bottom: 5px solid $tea-green;
    }

  }

  .footer__widgets{

    &-item {
      border: 2px solid $light-grey;
      padding: 15px;
      text-align: center;
      background-color: $white;

      &-title {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;

        span {
          color: $buttercup;
        }

      }

      &-title:after {
        content: '';
        border-bottom: 3px solid $buttercup;
        display: block;
        height: 1px;
        width: 30%;
        margin: 15px auto;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          padding-bottom: 0.5rem;  
          color: $emperor;

          i {
            color: $buttercup;
            margin-right: 1rem;
          }

          a {
            text-decoration: none;
            color: $emperor;
          }

        li:last-child {
          padding-bottom: 0 !important;
        }

        }

      }

    }

  }

  .footer__social-icons {

    &-item {
      text-decoration: none;
      color: $buttercup;

    }

  }

  .footer__copyright {
    p span { color: $buttercup;}
  }

}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // HERO SECTION
  .hero__home {
    
    &-content {
      padding: 120px 20px;
      border: 3px solid $buttercup;

    }
    
  }

}



// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {

  // NAVBAR
  .left-bar {
    .nav-link {
      position: relative;

      &::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: $buttercup;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover::after {
        opacity: 1;
      }

    }
  }

  .blog__post-item {
    text-align: start;
  }

}


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}



// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}