


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // HERO SECTION
  .hero__home {
    
    &-content {
      padding: 120px 20px;
      border: 3px solid $buttercup;

    }
    
  }

}



// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {

  // NAVBAR
  .left-bar {
    .nav-link {
      position: relative;

      &::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 3px;
        width: 100%;
        background-color: $darkblue;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover::after {
        opacity: 1;
      }

    }
  }

  .blog__post-item {
    text-align: start;
  }

}


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}



// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}