.facebook { 
  color: #1877f2; 
}
.instagram { 
    color: #c32aa3; 
  }
.linkedin { 
    color: #0a66c2; 
  }
.twitter { 
    color: #1da1f2; 
  }
.youtube { 
    color: #ff0000; 
  }
.pinterest { 
    color: #bd081c; 
  }
.whatsapp { 
    color: #25d366; 
  }