@import 'fonts';
@import 'social-icons';
@import 'colors';
@import 'topbar';
@import 'navbar';
@import 'hero';
@import 'basic';
@import 'index';
@import 'blog';
@import 'admin';
@import 'gallery';
@import 'projects';
@import 'login';
@import 'modals';
@import 'responsive';
@import 'print';

.kenteken {
    background-color: #F0AD4E;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0 5px;
    display: block;
    width: 100px;
    text-align: center;
    font-size: .8rem;
}
.list-group{
    max-height: 450px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}


.bg-blue-touch {
  //background-color: $blue-touch;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $darkblue;
  margin-bottom: 1.0rem;
}
.section-title:after {
  content: '';
  border-bottom: 1px solid $orange;
  display: block;
  height: 1px;
  width: 100px;
  margin: 5px 0;
}
.section-content {
  font-size: 1rem;
  font-weight: bold;
  color: $darkblue;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: #eee;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}

.dot-success {
    background-color: #449D44;
}
  
.dot-warning {
background-color: #F0AD4E;
}
    
.dot-danger {
background-color: #D9534F;
}

.dot-sm {
height: 10px;
width: 10px;
}

.dot-lg {
margin: 0 4px;
height: 20px;
width: 20px;
}



.callout {
  padding: 30px;
  //margin-bottom: 20px;
  border: 1px solid $light-grey;
  border-radius: 5px;
}
.callout-orange {
  border-left: 4px solid $orange;
  background-color: $orange-10;
  color: $orange;
  font-weight: 600;
}
.sb-sidenav-qbuzz {
  background-color: $lightblue !important;
  color: $darkblue !important;
  .nav-link {
    color: $darkblue !important;
  }
}
.bg-qbuzz {
  background-color: $lightblue !important;
  color: $darkblue !important;
}

.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  //background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
  border: none;
  //background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:active {
  background-color: #28a745;
  border-color: #28a745;
  border: none;
  //background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:not(:checked) {
  background-color: #dc3545;
  border-color: #dc3545;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}























textarea {
  resize: unset;
}

.btn-yellow {
  color: #fff;
  background-color: $buttercup;
  border-color: $buttercup;
}
.btn-yellow:hover {
  color: #fff;
  background-color: $buddha-gold;
  border-color: $buddha-gold;
}
.btn-check:focus + .btn-yellow, .btn-yellow:focus {
  color: #fff;
  background-color: $buddha-gold;
  border-color: $buddha-gold;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-yellow, .btn-check:active + .btn-yellow, .btn-yellow:active, .btn-yellow.active, .show > .btn-yellow.dropdown-toggle {
  color: #fff;
  background-color: $buddha-gold;
  border-color: $buddha-gold;
}
.btn-check:checked + .btn-yellow:focus, .btn-check:active + .btn-yellow:focus, .btn-yellow:active:focus, .btn-yellow.active:focus, .show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-yellow:disabled, .btn-yellow.disabled {
  color: #fff;
  background-color: $buttercup;
  border-color: $buttercup;
}

.btn-outline-yellow {
  color: $buttercup;
  border-color: $buttercup;
}
.btn-outline-yellow:hover {
  color: #fff;
  background-color: $buttercup;
  border-color: $buttercup;
}
.btn-check:focus + .btn-outline-yellow, .btn-outline-yellow:focus {
  box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
}
.btn-check:checked + .btn-outline-yellow, .btn-check:active + .btn-outline-yellow, .btn-outline-yellow:active, .btn-outline-yellow.active, .btn-outline-yellow.dropdown-toggle.show {
  color: #fff;
  background-color: $buttercup;
  border-color: $buttercup;
}
.btn-check:checked + .btn-outline-yellow:focus, .btn-check:active + .btn-outline-yellow:focus, .btn-outline-yellow:active:focus, .btn-outline-yellow.active:focus, .btn-outline-yellow.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(114, 176, 29, 0.5);
}
.btn-outline-yellow:disabled, .btn-outline-yellow.disabled {
  color: $buttercup;
  background-color: transparent;
}
#alert-success, #alert-danger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 10;
  display: none;
}

.navbar {
  .nav-link {
    color: $darkblue;
    font-weight: 300;
  }
}

.sb-sidenav-footer {
  color: $lightblue;
}

.dt-input {
  background-color: white !important;
}

.form-check-input:checked{
    background-color: $orange-dark !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem $orange-dark !important;
 }

