RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^voertuigen/ voertuigen.php [NC,L]
RewriteRule ^stremmingen/ stremmingen.php [NC,L]
RewriteRule ^meldingen/ meldingen.php [NC,L]
RewriteRule ^uitruk/ uitruk.php [NC,L]
RewriteRule ^admin/haltes/overzicht/ dashboard/admin_halte_overzicht.php [NC,L]
RewriteRule ^admin/haltes/beheren/ dashboard/admin_halte_beheren.php [NC,L]
RewriteRule ^admin/stremmingen/overzicht/pdf/([0-9a-zA-Z_-]+)/ dashboard/admin_stremming_pdf_output.php?obstructionNumber=$1 [NC,L]
RewriteRule ^admin/stremmingen/overzicht/ dashboard/admin_stremming_overzicht.php [NC,L]
RewriteRule ^admin/stremmingen/aanmaken/ dashboard/admin_stremming_aanmaken.php [NC,L]
RewriteRule ^admin/werkorders/overzicht/ dashboard/admin_werkorder_overzicht.php [NC,L]
RewriteRule ^admin/werkorders/aanmaken/ dashboard/admin_werkorder_aanmaken.php [NC,L]
RewriteRule ^admin/gebruikers/overzicht/([0-9a-zA-Z_-]+)/ dashboard/admin_user_detail.php?employeeID=$1 [NC,L]
RewriteRule ^admin/gebruikers/overzicht/ dashboard/admin_user_overview.php [NC,L]
RewriteRule ^admin/ dashboard/admin.php [NC,L]
RewriteRule ^uitloggen/ scripts/user_logout.php [NC,L] 

ErrorDocument 404 /404.php